<%- include("../partials/header") %>
    <div>
        <h1 style="width: 50%; margin: 50px auto;"> Dodaj nowe Kwiaty!</h1>
        <div style="width: 50%; margin: 0 auto;">
            <form action="/kwiaty" method="POST">
                
                <div class="form-group">
                   <input class="form-control" type="text" name="name" placeholder="Nazwa">
                </div>

                <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="Adres obrazu">
                </div>

                <div class="form-group">
                <input class="form-control" type="text" name="description" placeholder="Opis">
                </div>
                <div class="form-group">
                <input class="form-control" type="text" name="price" placeholder="Cena">
                </div>

                <!-- <div class="form-group">
                <input class="form-control" type="text" name="image" placeholder="Adres obrazu">
                </div> -->
            
    
                <div class="form-group">
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
                </div>
            </form>
        </div>
    </div>  
<%- include("../partials/footer") %>